@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif
}

/* Header section  */
body {
    height: 100vh;
}

.header {
    height: 100vh;
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-size: 700px, 80px;
}

nav {
    padding: 51px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: black;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
    font-style: normal;
}

.w-c {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin: 51px;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
}
nav ul li a:hover{
    color: black;
}

.primary-btn {
    height: fit-content;
    padding: 18px 25px;
    background: #FD6E0A;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}
.primary-btn:hover{
    background: #c75300;
    cursor: pointer;
}

.header-content {
    padding: 51px 230px;
    display: flex;
    justify-content: space-around;
    align-items: top;
    gap: 163px;

}

.hardy-image {
    width: 384px;
    height: 472px;
}

.header-title {}

.second-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 61px;
    margin-bottom: 5px;

}

.fist-title {
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    margin-bottom: 20px;
}

.title-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}

/* about section  */
.about {
    height: 100vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-conntent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 550px;
    width: 1140px;
    background: #FFF8F3;
    border-radius: 10px;
    text-align: center;
    padding: 54px;
}

.parsonal-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parsonal-info .name {
    margin-left: 34px;
    color: #757575;
}

.n-c {
    font-size: 20px;
    line-height: 30px
}

.n-cc-nn {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

/* skills section  */
.skills {
    height: 90vh;
    /* background: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill-conntent {
    height: 650px;
    width: 1140px;
    background-color: white;

}

.what-i-do-others {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;

}

.s-h {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    margin-bottom: 30px;
    text-align: center;
    color: #181818;
}

.s-dispriication {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #757575;
    padding: 0px 130px;
}

.skill-box {
    padding: 0 130px;
    display: flex;
    gap: 24px;
    margin-top: 50px;

}

.s-box {
    width: 377px;
    height: 317px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    padding: 30px 33px;
}

.skill-title {
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: cent
}

.skill-description {
    margin-top: 20px;
    /* text-align:justify; */
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #757575;
}

/* acadimac-education */
.acadimac-education {
    height: 130vh;
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.edu-box {
    height: 750px;
    width: 1140px;
    /* background: white; */
}

.edu-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
}

.acadimac-expiannce {
    margin-top: 113px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.acadimac {
    height: 750px;
    width: 558px;
    /* background: blue; */

}

.exprince {
    height: 750px;
    width: 558px;
    /* background: blue; */

}

.my-edu-exp-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 30px;

}

.degree-exp {
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #474747;
    margin-bottom: 10px;

}

.company-vasity {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #757575;
    margin-bottom: 18px;
}

.e-ex-dec {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}

/* footer */
.footer {
    height: 100vh;
    background: #FFF8F3
}

.footer-content {
    padding: 130px 230px;
    display: flex;
    justify-content: space-around;
    gap: 250px;
}

.adress-social {
    height: 250px;
    width: 456px;
    /* background: rgb(84, 27, 238); */
    margin-top: 50px;
}

.contact-from {
    height: 500px;
    width: 556px;
    /* background: rgb(78, 21, 21); */
    padding: 50px;
}

.a-c-h {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}

.p-c-j {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;
}

.social-icon ul {
    display: flex;
}

.social-icon ul li {
    list-style: none;
    margin-right: 24px;
}

.social-icon ul li a {
    text-decoration: none;
}

.f-g-1 {
    text-align: center;
    margin-bottom: 24px;
    width: 461px;
    height: 44px;
    border: none;
}

.f-g-3 {
    width: 461px;
    height: 180px;
    text-align: center;
    margin-bottom: 24px;
}

.secondary-btn {
    height: 34px;
    width: 144px;
    background: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}
.secondary-btn:hover{
    background: #c75300;
}